<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="requestModalLongTitle">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Request info:</h4>
                <ul class="list-group">
                    <li id="requestInfoListItem0" class="list-group-item"></li>
                    <li id="requestInfoListItem1" class="list-group-item"></li>
                    <li id="requestInfoListItem2" class="list-group-item"></li>
                    <li id="requestInfoListItem3" class="list-group-item"></li>
                </ul>
                <h4>Feedback info:</h4>
                <ul class="list-group">
                    <li id="feedbackInfoListItem0" class="list-group-item"></li>
                    <li id="feedbackInfoListItem1" class="list-group-item"></li>
                    <li id="feedbackInfoListItem2" class="list-group-item"></li>
                    <li id="feedbackInfoListItem3" class="list-group-item"></li>
                </ul>
                <h4>Student info:</h4>
                <ul class="list-group">
                    <li id="studentInfoListItem0" class="list-group-item"></li>
                    <li id="studentInfoListItem1" class="list-group-item"></li>
                    <li id="studentInfoListItem2" class="list-group-item"></li>
                </ul>
                <h4>Slot info:</h4>
                <ul class="list-group">
                    <li id="slotInfoListItem0" class="list-group-item"></li>
                    <li id="slotInfoListItem1" class="list-group-item"></li>
                    <li id="slotInfoListItem2" class="list-group-item"></li>
                </ul>
                <h4>Unit info:</h4>
                <ul class="list-group">
                    <li id="unitInfoListItem0" class="list-group-item"></li>
                    <li id="unitInfoListItem1" class="list-group-item"></li>
                    <li id="unitInfoListItem2" class="list-group-item"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="requestModalPDFButton" type="button" class="btn btn-info" data-request-id="">Download PDF</button>
                <button id="requestModalDismissButton" type="button" class="btn btn-primary" data-request-id="">Dismiss</button>
                <button id="requestModalArchiveButton" type="button" class="btn btn-danger" data-request-id="">Archive</button>
            </div>
        </div>
    </div>
</div>