{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block scripts_header %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>About</h2>
        </div>
        <div class="col-md-12">
            <h3>Tutreq</h3>
            <p>...</p>
            <h3>Author</h3>
            <p>
                This website is created and maintained by Chehan Ratnasiri (<a href="https://twitter.com/chehanr/"
                    target="_blank">@chehanr</a>). <br />
                The entire project is open source and can be viewed at <a href="https://github.com/chehanr/tutreq/"
                    target="_blank">https://github.com/chehanr/tutreq</a> <br />
                Suggestions/ enhancements and your own improvements are welcomed <a href="https://github.com/chehanr/tutreq/issues/"
                    target="_blank">here.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts_footer %}
{% endblock %}