{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A system to create and manage tutorial requests at ACBT">
    <meta name="keywords" content="ACBT, tutor, tutoring, request, system, 'tutreq'">
    <title>{% block title %}ACBT Tutorial Request{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block scripts_header %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        {% include '__layouts/nav_bar_main.html' %} {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block scripts_footer %}{% endblock %}
</body>

</html>