{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#00a896">
    <meta name="description" content="ACBT Tutorial Request">
    <meta name="robots" content="index, follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index, follow"><!-- Google Specific -->
    <meta name="keywords" content="ACBT, tutorial, management, request, tutreq">
    <title>{% block title %}tutreq{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu:500" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16" />
    {% block scripts_header %}{% endblock %}
</head>

<body>
    <div class="site">
        {% include '__layouts/masthead.html' %}
        {% include '__layouts/nav_bar.html' %}
        {% block side_content %}{% endblock %}
        {% block page_content %}{% endblock %}
        {% include '__layouts/footer.html' %}
        {% block scripts_footer %}{% endblock %}
    </div>
</body>

</html>