{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}tutreq | Feedback{% endblock %}
{% block scripts_header %}
{% endblock %}
{% block side_content %}
<div class="side-content">
    <div class="page-header">
        <h1>Feedback</h1>
        <p>Submit your tutor feedback.</p>
    </div>
    <div class="side-bar">
    </div>
</div>
{% endblock %}
{% block page_content %}
<main class="page-content">
    <!-- Alert box stuff. -->
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="box success-box" role="alert">
        <h1>{{ message }}</h1>
        <p>{{ message.extra_tags|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
    <!--  -->
    <form method="{{ form_method }}" novalidate>
        {% csrf_token %}
        {% include "__layouts/form.html" with form=form %}
        <button type="submit" class="outline float-right">{{ form_submit_button }}</button>
        <div class="clearfix"></div>
    </form>
</main>
{% endblock %}
{% block scripts_footer %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}