{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}tutreq | ACBT Tutorial Request{% endblock %}
{% block scripts_header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-minimal.min.css"
    integrity="sha256-TzVR91NM2rW+l6d+XuTFNm7Q2my50dH9yJJTPYfR3bI=" crossorigin="anonymous" />
{% endblock %}
{% block side_content %}
<div class="side-content">
    <div class="page-header">
        <h1>ACBT Tutorial Request</h1>
        <p>Tutorial request management system.</p>
    </div>
    <div class="side-bar">
        <div class="request-count">
            <p class="odometer" id="count"></p>
            <p>Requests logged.</p>
        </div>
    </div>
</div>
{% endblock %}
{% block page_content %}
<main class="page-content">
    <!-- Message box stuff. -->
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="box success" role="alert">
        <h1>{{ message }}</h1>
        <p>{{ message.extra_tags|safe }}</p>
    </div>
    {% endif %}
    {% if 'error' in message.tags %}
    <div class="box error" role="alert">
        <h1>{{ message }}</h1>
        <p>{{ message.extra_tags|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
    <!--  -->
    <!-- Slot stuff. -->
    <div class="slot-container">
        <select class="select-slot" id="selectSlot" name="slot"></select>
        <div class="box slot-detail" id="slotDetail">
            <p class="unit-info"></p>
            <p class="course-info"></p>
            <p class="day-info"></p>
            <p class="time-info"></p>
        </div>
    </div>
    <!--  -->
    <form id="requestForm" method="POST" novalidate="novalidate">
        {% csrf_token %}
        {% include "__layouts/form.html" with form=form %}
        <button type="submit" class="outline float-right">Submit</button>
        <div class="clearfix"></div>
    </form>
</main>
{% endblock %}
{% block scripts_footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js" integrity="sha256-65R1G5irU1VT+k8L4coqgd3saSvO/Wufson/w+v2Idw="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.7.7/dayjs.min.js" integrity="sha256-nML5WWBkqxd1XeyDqAZi25wXqlEeqd7dXYk/VX1UDeo="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.7.7/plugin/advancedFormat.js" integrity="sha256-vhODM8D28bhVfUVBhKwd3GIFYcCJbDu0ku2IWKpXqJ0="
    crossorigin="anonymous"></script>
<script>
    dayjs.extend(dayjs_plugin_advancedFormat);
</script>
<script>
    function formatRepo(repo) {
        if (repo.loading)
            return repo.text;

        let unitElmt = `<p class="slot-unit">${repo.unit.title} (${repo.unit.code})</p>`
        let slotInfoElmt = `<p class="slot-info">${repo.day} (${repo.time})</p>`

        let markup =
            `
            <div class="select-slot-result">
                ${unitElmt}
                ${slotInfoElmt}
            </div>`;

        return markup;
    }

    function formatRepoSelection(repo) {
        return repo.text;
    }

    function setLiveCount(element) {
        let baseUrl = "{% url 'ajax_request_count' %}";
        let count = 0;

        $.ajax({
            type: "GET",
            url: baseUrl,
            success: function (response) {
                if (!$.isEmptyObject(response)) {
                    count = response.request_count;
                }
            },
            complete: function () {
                $(element).text(count);
            }
        });
    }

    jQuery(document).ready(function ($) {
        const slotIdInpt = $("#id_slot"); //Hidden field in form.
        const selectSlotElmt = $("#selectSlot");
        const slotDetailListElmt = $("#slotDetail");
        const requestCountElmt = $(".request-count #count");

        slotIdInpt.val(null);
        slotDetailListElmt.hide();

        $(selectSlotElmt).select2({
            ajax: {
                url: "{% url 'ajax_slots_search' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    var queryParameters = {
                        q: params.term.trim()
                    }

                    return queryParameters;
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: "Search for an available slot",
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        $(selectSlotElmt).on("select2:select", function (e) {
            let data = e.params.data;
            let nextDtTxt = dayjs(data.next_date_time).format("MMMM Do, YYYY");

            let uniInfoElmt = $(slotDetailListElmt).find(".unit-info");
            let courseInfoElmt = $(slotDetailListElmt).find(".course-info");
            let dayInfoElmt = $(slotDetailListElmt).find(".day-info");
            let timeInfoElmt = $(slotDetailListElmt).find(".time-info");

            $(uniInfoElmt).text(`Unit: ${data.unit.code} (${data.unit.title})`);
            $(courseInfoElmt).text(`Course: ${data.unit.program}`);
            $(dayInfoElmt).text(`Day: ${data.day} (${nextDtTxt})`);
            $(timeInfoElmt).text(`Time: ${data.time}`);

            slotIdInpt.val(data.id);
            slotDetailListElmt.show();
        });

        // Set live count.
        setLiveCount(requestCountElmt);

        setInterval(function () {
            setLiveCount(requestCountElmt);
        }, 100000);
    });
</script>
{% endblock %}