{% extends 'base.html' %} 
{% load staticfiles %} 
{% load humanize %}
{% block title %}Manage Requests{% endblock %}
{% block scripts_header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css"> 
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Manage Requests</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Lodged requests</div>
            <div class="panel-body">
                <p>View, dismiss and generate PDF records of lodged requests.</p>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Requested slot</th>
                            <th>Lodged</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr class='clickable-row' data-request-id='{{ request.pk }}' style="cursor: pointer;">
                            <td>{{ requests.start_index|add:forloop.counter0 }}</td>
                            <td>{{ request.student_id }}</td>
                            <td>{{ request.student_name }}</td>
                            <td>{{ request.slot }}</td>
                            <td>{{ request.date_time|naturaltime }}</td>
                            <td>
                                <span id="tableSpanRequestStatus" class="{% if request.dismissed %}glyphicon glyphicon-ok{% else %}glyphicon glyphicon-time{% endif %}"></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            {% if requests.has_other_pages %}
            <ul class="pagination">
                {% if requests.has_previous %}
                <li>
                    <a href="?page={{ requests.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>&laquo;</span>
                </li>
                {% endif %} {% for i in requests.paginator.page_range %} {% if requests.number == i %}
                <li class="active">
                    <span>{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if requests.has_next %}
                <li>
                    <a href="?page={{ requests.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>&raquo;</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
        {% include '__items/modal_request_detail.html' %}
    </div>
</div>
{% endblock %} 
{% block scripts_footer %}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            var requestId = $(this).data("request-id");
            var baseUrl = '/request_info_json/';
            var csrftoken = getCookie('csrftoken');
            var dataDict = {
                'request-id': requestId,
            };
            $.ajax({
                type: 'GET',
                url: baseUrl,
                data: dataDict,
                success: function (response) {
                    var request = response.request;
                    var requestDateTimeMoment = moment(request['date_time']).format(
                        'MMMM Do YYYY, h:mm:ss a');
                    var slotNextDateTimeMoment = moment(request.slot['next_date_time']).format(
                        'MMMM Do, YYYY');

                    if (!jQuery.isEmptyObject(request)) {
                        var request = response.request;
                        $('#requestModalLongTitle').text(request.text);

                        $('#requestInfoListItem0').text('Request ID: ' + request.id);
                        $('#requestInfoListItem1').text('Requested on: ' +
                            requestDateTimeMoment);
                        if (request.description)
                            $('#requestInfoListItem2').text('Notes: ' + request.description);
                        else
                            $('#requestInfoListItem2').text('Notes: None');

                        $('#requestInfoListItem3').removeClass(
                            'list-group-item-success list-group-item-danger');
                        if (request.dismissed) {
                            $('#requestInfoListItem3').addClass('list-group-item-success');
                            $('#requestInfoListItem3').text('Request status: Dismissed');
                            $('#requestModalDismissButton').text('Relodge');
                        } else {
                            $('#requestInfoListItem3').addClass('list-group-item-danger');
                            $('#requestInfoListItem3').text('Request status: Waiting');
                            $('#requestModalDismissButton').text('Dismiss');
                        }

                        $('#studentInfoListItem0').text('Student ID: ' + request.student.id);
                        $('#studentInfoListItem1').text('Name: ' + request.student.name);
                        $('#studentInfoListItem2').text('Contact number: ' + request.student
                            .phone);

                        $('#slotInfoListItem0').text('Day: ' + request.slot.day + ' (' +
                            slotNextDateTimeMoment + ')');
                        $('#slotInfoListItem1').text('Time slot: ' + request.slot.time);
                        if (request.slot.disabled) {
                            $('#slotInfoListItem2').addClass('list-group-item-danger');
                            $('#slotInfoListItem2').text('Slot status: Unavailable');
                        } else {
                            $('#slotInfoListItem2').removeClass('list-group-item-danger');
                            $('#slotInfoListItem2').text('Slot status: Available');
                        }

                        $('#unitInfoListItem0').text('Unit: ' + request.unit.text);
                        $('#unitInfoListItem1').text('Course: ' + request.unit.course);
                        $('#unitInfoListItem2').text('Program: ' + request.unit.program);
                        
                        // Setting data values for buttons.
                        $('#requestModalDismissButton').data({
                            "request-id": requestId
                        });
                        $('#requestModalPDFButton').data({
                            "request-id": requestId
                        });

                        $('#requestModal').modal('toggle');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var errMsg = textStatus.concat(': ', errorThrown, '.');
                }
            });
        });
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#requestModalDismissButton').on('click', function (event) {
            // event.preventDefault(); // To prevent following the link (optional)
            var requestId = $(this).data("request-id");
            var baseUrl = '/dismiss_relodge_request/';
            var dataDict = {
                'request-id': requestId,
            };
            $.ajax({
                type: 'GET',
                url: baseUrl,
                data: dataDict,
                success: function (response) {
                    if (!jQuery.isEmptyObject(response)) {
                        var requestId = response.id;
                        var dismissed = response.dismissed;
                        var dismissRelodgeDateTime = response['dismiss_relodge_date_time'];

                        $('#requestInfoListItem3').removeClass(
                            'list-group-item-success list-group-item-danger');
                        if (dismissed) {
                            $('#requestInfoListItem3').addClass('list-group-item-success');
                            $('#requestInfoListItem3').text('Request status: Dismissed');
                            $('#requestModalDismissButton').text('Relodge');
                        } else {
                            $('#requestInfoListItem3').addClass('list-group-item-danger');
                            $('#requestInfoListItem3').text('Request status: Waiting');
                            $('#requestModalDismissButton').text('Dismiss');
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var errMsg = textStatus.concat(': ', errorThrown, '.');
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#requestModalPDFButton').on('click', function (event) {
                // event.preventDefault(); // To prevent following the link (optional)
                var requestId = $(this).data("request-id");
                var baseUrl = '/generate_pdf/';
                var dataDict = {
                    'request-id': requestId,
                };
                $.ajax({
                    type: 'GET',
                    url: baseUrl,
                    data: dataDict,
                    success: function(response, status, xhr) {
                        // https://stackoverflow.com/questions/16086162/handle-file-download-from-ajax-post
                        // check for a filename
                        var filename = "";
                        var disposition = xhr.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                        }
                
                        var type = xhr.getResponseHeader('Content-Type');
                        var blob = new Blob([response], { type: type });
                
                        if (typeof window.navigator.msSaveBlob !== 'undefined') {
                            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var URL = window.URL || window.webkitURL;
                            var downloadUrl = URL.createObjectURL(blob);
                
                            if (filename) {
                                // use HTML5 a[download] attribute to specify filename
                                var a = document.createElement("a");
                                // safari doesn't support this yet
                                if (typeof a.download === 'undefined') {
                                    window.location = downloadUrl;
                                } else {
                                    a.href = downloadUrl;
                                    a.download = filename;
                                    document.body.appendChild(a);
                                    a.click();
                                }
                            } else {
                                window.location = downloadUrl;
                            }
                
                            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // var errMsg = textStatus.concat(': ', errorThrown, '.');
                    }
                });
                return false;
            });
        });
</script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
{% endblock %}