{% extends 'base.html' %} 
{% load staticfiles %} 
{% load humanize %}
{% block title %}Manage requests{% endblock %}
{% block scripts_header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/css/bootstrap-select.min.css"> 
{% endblock %} 
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Manage requests</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Lodged requests</div>
            <div class="panel-body">
                <p>View, dismiss and generate PDF records of lodged requests.</p>
                <button id="manageCSVLogButton" type="button" class="btn btn-info" data-request-id="" onclick="location.href = '../generate_csv/';">Download
                    Log</button>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Requested slot</th>
                            <th>Lodged</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr class='clickable-row' data-request-id='{{ request.pk }}' style="cursor: pointer;">
                            <td>{{ requests.start_index|add:forloop.counter0 }}</td>
                            <td>{{ request.student_id }}</td>
                            <td>{{ request.student_name }}</td>
                            <td>{{ request.slot }}</td>
                            <td>{{ request.date_time|naturaltime }}</td>
                            <td>
                                <span id="tableRequestStatusIcon" class="{% if request.dismissed %}glyphicon glyphicon-ok{% else %}glyphicon glyphicon-time{% endif %}"></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            {% if requests.has_other_pages %}
            <ul class="pagination">
                {% if requests.has_previous %}
                <li>
                    <a href="?page={{ requests.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>&laquo;</span>
                </li>
                {% endif %} {% for i in requests.paginator.page_range %} {% if requests.number == i %}
                <li class="active">
                    <span>{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if requests.has_next %}
                <li>
                    <a href="?page={{ requests.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>&raquo;</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
        {% include '__items/modal_request_detail.html' %}
    </div>
</div>
{% endblock %} 
{% block scripts_footer %}
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modal_scripts.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
{% endblock %}